
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../content/images/intro.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Trang Chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Giới thiệu <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Tìm hiểu về chúng tôi</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../../content/images/bg_2.png); ">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5" style="text-align: justify">
                    <span class="subheading">Về chúng tôi</span>
                    <h2 class="mb-4" style="text-align: center">Chào mừng bạn đến với Hotel Hub</h2>

                    <p>Với nhiều địa điểm vui chơi, giải trí, Hotell Hub sẽ cung cấp cho bạn nhiều sự lựa chọn ở mọi nơi.</p>
                    <p>Hiện nay, do nhu cầu du lịch tăng cao, và việc đặt phòng khách sạn khó khăn, giá cả không hợp lý. Từ đó dịch vụ đặt phòng khách sạn tại Hotel Hub của chúng tôi ra đời để giúp cho khách hàng đặt phòng tiện lợi cùng với giá cả hợp lý</p>
                    <p><a href="~/Room" class="btn btn-primary py-3 px-4">Tìm phòng </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Dịch vụ</span>
                <h2 class="mb-3">Các dịch vụ đi kèm</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-money-check-alt"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">KHÔNG TIỀN ĐẶT CỌC</h3>
                        <p>Khách hàng không phải đặt cọc bất cứ khoản tiền cho việc đặt phòng nào nếu có đầy đủ các giấy tờ yêu cầu được quy định trong chính sách của cty. Chi tiết thủ tục giấy tờ vui lòng xem tại mục chính sách đặt phòng của chúng tôi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-star"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">100% TẤT CẢ CÁC PHÒNG ĐỀU CHUẨN 5 SAO</h3>
                        <p>Trang web chúng tôi cam kết cung cấp cho quý khách các loại phòng chất lượng nhất mà không nơi nào có được</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fas fa-map-marked"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">DỊCH VỤ ĐƯA ĐÓN TẬN NƠI</h3>
                        <p>Chúng tôi cung cấp dich vụ đưa đón quý khách tận nơi, quý khách chỉ cần gọi 5 phút sau sẽ có xe đến đón</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="far fa-money-bill-alt"></span></div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">THUÊ BAO NHIÊU THANH TOÁN BẤY NHIÊU</h3>
                        <p>Chúng tôi tính giá thuê theo thời gian bạn muốn thuê. Trả phòng sớm sẽ hoàn tiền thừa lại cho bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading"><i>Nhà Sáng lập</i></span>
                <h2 class="mb-2">Thành viên nhóm</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/1.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Lâm Đức Huy</p>
                                <span class="position">Nhóm trưởng</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/4.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Trần Vũ Ngọc Hiếu</p>
                                <span class="position">Thành viên</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/2.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Nguyễn Phạm Thành Nam</p>
                                <span class="position">Thành viên</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap rounded text-center py-4 pb-5">
                            <div class="user-img mb-2" style="background-image: url(../../content/images/member/3.png)">
                            </div>
                            <div class="text pt-4">
                                <p class="name">Trần Đinh Thái Hoà</p>
                                <span class="position">Thành viên</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
