@foreach (var item in Model)
{
    <div class="item">
        <div class="testimony-wrap rounded text-center py-4 pb-5">
            <div class="user-img mb-2" style="background-image: url(@item.image)">
            </div>
            <div class="text pt-4">
                <p class="mb-4">@item.rate_content</p>
                <p class="name">@item.name</p>
                <span class="position">@item.job</span>
            </div>
        </div>
    </div>
}
